<div class="container">
	<div class="row">
		<div>
    	 <div class="well profile">
            <div >
                <div >
                    <h2>{{residentObj.Name}}</h2>
                    <p><strong>Age: </strong> {{residentObj.age}} </p>
                    <p><strong>Room: </strong> {{residentObj.RoomNum}} </p>
                </div>             
            </div>            
            <div class="row justify-content-center">
                <div class="col-md-4 emphasis">
                    <h2><strong> 20,7K </strong></h2>                    
                    <p><small>Blood Sugar Level</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> </button>
                </div>
                <div class="col-md-4 emphasis">
                    <h2><strong>245</strong></h2>                    
                    <p><small>Blood Pressure</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> </button>
                </div>
                <div class="col-md-4 emphasis">
                    <h2><strong>12-06-2022 01:30</strong></h2>                    
                    <p><small>Last Fall</small></p>
                    <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> </button>
                </div>
            </div>
    	 </div>                 
		</div>
	</div>
</div>